$spacing-map: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.25rem,
  "6": 1.5rem,
  "7": 1.75rem,
  "8": 2rem,
  "9": 2.25rem,
  "10": 2.5rem,
);

$sp-0: map-get($spacing-map, "0");
$sp-1: map-get($spacing-map, "1");
$sp-2: map-get($spacing-map, "2");
$sp-3: map-get($spacing-map, "3");
$sp-4: map-get($spacing-map, "4");
$sp-5: map-get($spacing-map, "5");
$sp-6: map-get($spacing-map, "6");
$sp-7: map-get($spacing-map, "7");
$sp-8: map-get($spacing-map, "8");
$sp-9: map-get($spacing-map, "9");
$sp-10: map-get($spacing-map, "10");